<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>puto el que lee</title>
    <!-- 1. https://nodejs.org/es/ -->
</head>

<body>

    <p>He aqui un poco de texto</p>
    <p>
        <%= nombre  %>
    </p>
    <button>Haceme clic ahre</button>
</body>

</html>